.card {
  width: 600px;
  max-width: 600px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 100px 0;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.card__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 600px;
}

.card__list-item {
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Noto Serif', 'Times New Roman', sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  align-items: flex-end;
}

.card__list-item:last-of-type {
  margin: 0;
}

.card__list-divider {
  display: flex;
  flex-grow: 10;
  height: 1px;
  background-color: #ffffff;
}