.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  width: 100%;
  position: relative;
}

.header__logo {
  width: 125px;
  height: 142px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.header__nav {
  position: absolute;
  top: 30px;
  right: 80px;
}

.header__nav-links {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style: none;
}

.header__nav-link {
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}

.header__nav-link:hover {
  color: #2f80ed;
  transition: color 0.8s ease-in-out;
}

.header__title-wrapper {
  position: relative;
  top: 252px;
  left: 80px;
}

.header__title {
  max-width: 729px;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  position: relative;
  top: 28px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__paragraph {
  position: absolute;
  bottom: 40px;
  left: 80px;
}

.header__paragraph_alt {
  position: absolute;
  bottom: 40px;
  right: 80px;
}

.header__paragraph .header__paragraph_alt {
  font-weight: 500;
  line-height: 20px;
}

.header__paragraph-text {
  margin: 0;
  padding: 0;
}
