.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin: 100px auto 80px auto;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation_form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  margin-bottom: 120px;
}

.reservation_form-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: none;
}

.reservation_form-label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation_form-input {
  border-radius: 4px;
  height: 60px;
  margin-bottom: 32px;
  width: 385px;
  font-size: 20px;
  line-height: 30px;
}

.reservation_form-button {
  border-radius: 4px;
  height: 60px;
  width: 385px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation_form-button:hover {
  opacity: .7;
}

.reservation_form-checkbox-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.reservation_form-checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.reservation_form-checkbox:checked {
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
}